.btn {
    padding: 0.9rem 2rem;
    border-radius: 3.75rem;
    border: none;
    color: white;
    font-family: var(--font-sora);
    cursor: pointer;
    font-size: var(--font-size-xs);
    text-transform: capitalize;

}


/* variants */
.primary {
    background-color: var(--color-primary);
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-weight: bold;
}

.primary:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: transparent;
}

.secondary {
    border: 1px solid transparent;
    background-color: var(--color-secondary);
    transition: all 0.3s ease;
    font-weight: bold;
}

.tertiary {
    background-color: var(--color-asmani-sky);
    transition: all 0.3s ease;
    font-weight: bold;
    height: 4rem;
    border-radius: 200px;
    border: none;
    color: white;
    font-family: var(--font-sora);
    cursor: pointer;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    padding-inline-end: 0;
    gap: 1.5rem;

}

.tertiary:hover {
    color: var(--color-asmani-sky);
    border-color: var(--color-asmani-sky);
    background-color: transparent;
}

.secondary:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: transparent;
}

.btn .btn__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn .btn__icon--right {
    flex-shrink: 0;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: var(--color-jadeite);
    color: white;
}


.pro{
    background-color: var(--color-candy-grape-fizz);
    transition: all 0.3s ease;
    font-weight: bold;
    height: 3rem;
    border-radius: 0;
    border: none;
    color: white;
    font-family: var(--font-sora);
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}



.pro.btn .btn__icon--right__tertiary{
    background-color: transparent;
     width: auto;
}
