.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rating__stars {
    display: flex;
    gap: 0.25rem;
}

.rating__star {
    color: var(--color-light-orange);
    font-family: var(--font-sora);
    font-weight: 900;
    font-size: 0.875rem;
    transition: color 0.2s ease;
}

.rating__star--filled {
    color: var(--color-light-orange);
}

.rating__count {
    font-size: 0.875rem;
    color: #4D5756;
    font-family: var(--font-epilogue);
    font-weight: 500;
}
